
<turn-screen class="planet1Screen" rotation-value="300" inst="Mercury">
   <%= image_tag("mercury-small.png", :alt => "Mercury") %>
</turn-screen>

<turn-screen class="planet2Screen" rotation-value="100" inst="Venus">
   <%= image_tag("venus-small.png", :alt => "Venus") %>
</turn-screen>

<turn-screen class="planet3Screen" rotation-value="-300" inst="Mars">
   <%= image_tag("mars-small.png", :alt => "Mars") %>
</turn-screen>

<div class="doctor"><%= link_to "See a doctor", doctor_path %></div>
<div class="srcCode"><a href="https://github.com/ivanko763/voyage" target="_blank">Source Code</a></div>

<div class="horizon">
  <turn-screen class="mainScreen" rotation-value="-8" inst="Earth">
	 <div class="mainNav">
	   <%= image_tag("earth.png", :alt => "Earth", class: "mainPlanet") %>
	   <orbit-satellite satellite-position="-35" satellite-scale="1" orbit-height="180" class="mercury"><%= link_to "Mercury", mercury_path %></orbit-satellite>
	   <orbit-satellite satellite-position="0" satellite-scale="1" orbit-height="180" class="venus"><%= link_to "Venus", venus_path %></orbit-satellite>
	   <orbit-satellite satellite-position="35" satellite-scale="1" orbit-height="180" class="mars"><%= link_to "Mars", mars_path %></orbit-satellite>
	 </div>
  </turn-screen>

  <!--<% for i in 1..8 %>
  <div class="logoWrapper">
	<turn-screen class="logo" rotation-value="<%= rand(50...100) * (rand(0...2)*2-1) %>" inst="Logo <%=i%>">
	   <orbit-satellite satellite-position="<%=rand(0...360)-180%>" satellite-scale="0.<%=rand(1...4)%>" orbit-height="<%=rand(200...400)%>">
		  <%= image_tag("logo.png", :alt => "Logo " + i.to_s) %>
	   </orbit-satellite>
	</turn-screen>
  </div>
  <% end %>-->
  
  <div class="logoWrapper">
	<turn-screen class="logo" rotation-value="-74" inst="Logo 1">
	   <orbit-satellite satellite-position="-153" satellite-scale="0.1" orbit-height="371">
		  <img alt="Logo 1" src="/assets/logo-0447b4605447a06fd5dae2420e3d45f57c442ae8ca572149218830ccd8862cc6.png" />
	   </orbit-satellite>
	</turn-screen>
  </div>
  <div class="logoWrapper">
	<turn-screen class="logo" rotation-value="-82" inst="Logo 2">
	   <orbit-satellite satellite-position="48" satellite-scale="0.2" orbit-height="356">
		  <img alt="Logo 2" src="/assets/logo-0447b4605447a06fd5dae2420e3d45f57c442ae8ca572149218830ccd8862cc6.png" />
	   </orbit-satellite>
	</turn-screen>
  </div>
  <div class="logoWrapper">
	<turn-screen class="logo" rotation-value="83" inst="Logo 3">
	   <orbit-satellite satellite-position="20" satellite-scale="0.3" orbit-height="361">
		  <img alt="Logo 3" src="/assets/logo-0447b4605447a06fd5dae2420e3d45f57c442ae8ca572149218830ccd8862cc6.png" />
	   </orbit-satellite>
	</turn-screen>
  </div>
  <div class="logoWrapper">
	<turn-screen class="logo" rotation-value="-80" inst="Logo 4">
	   <orbit-satellite satellite-position="139" satellite-scale="0.3" orbit-height="270">
		  <img alt="Logo 4" src="/assets/logo-0447b4605447a06fd5dae2420e3d45f57c442ae8ca572149218830ccd8862cc6.png" />
	   </orbit-satellite>
	</turn-screen>
  </div>
  <div class="logoWrapper">
	<turn-screen class="logo" rotation-value="98" inst="Logo 5">
	   <orbit-satellite satellite-position="-75" satellite-scale="0.3" orbit-height="390">
		  <img alt="Logo 5" src="/assets/logo-0447b4605447a06fd5dae2420e3d45f57c442ae8ca572149218830ccd8862cc6.png" />
	   </orbit-satellite>
	</turn-screen>
  </div>
  <div class="logoWrapper">
	<turn-screen class="logo" rotation-value="-51" inst="Logo 7">
	   <orbit-satellite satellite-position="156" satellite-scale="0.1" orbit-height="219">
		  <img alt="Logo 7" src="/assets/logo-0447b4605447a06fd5dae2420e3d45f57c442ae8ca572149218830ccd8862cc6.png" />
	   </orbit-satellite>
	</turn-screen>
  </div>
  <div class="logoWrapper">
	<turn-screen class="logo" rotation-value="-63" inst="Logo 8">
	   <orbit-satellite satellite-position="-80" satellite-scale="0.2" orbit-height="388">
		  <img alt="Logo 8" src="/assets/logo-0447b4605447a06fd5dae2420e3d45f57c442ae8ca572149218830ccd8862cc6.png" />
	   </orbit-satellite>
	</turn-screen>
  </div>
  <div class="logoWrapper">
	<turn-screen class="logo" rotation-value="74" inst="Logo 10">
	   <orbit-satellite satellite-position="-25" satellite-scale="0.3" orbit-height="326">
		  <img alt="Logo 10" src="/assets/logo-0447b4605447a06fd5dae2420e3d45f57c442ae8ca572149218830ccd8862cc6.png" />
	   </orbit-satellite>
	</turn-screen>
  </div>  
  
</div>