<!DOCTYPE html>
<html>
<head>
<title>Voyage</title>
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

<script src="/webcomponentsjs/webcomponents-loader.js"></script>
<link rel="import" href="/polymer/polymer.html">
<%= html_import_tag 'turn-screen/turn-screen'%>
<%= html_import_tag 'orbit-satellite/orbit-satellite'%>

<%= csrf_meta_tags %>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type"></head>
<meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">
<body>

<%= yield %>

</body>
</html>
